@import '../../theme/variables.scss';

.blogWrapper {

  .userColumn, .blogColumn {
    height: auto;
    min-height: unset;
    padding-bottom: 10px;
  }

  .userColumn {
    :global(ul.list-group) {
      overflow: auto;
      height: calc(100% - 63px); // - 'X User' header height
    }
  }

  .blogColumn {
    position: relative;

    .messages {
      overflow: auto;
      height: calc(100% - 63px - 60px); // - 'X User' header height - form height
    }

    .controlBtn {
      padding-top: 0;
      padding-bottom: 0;
    }

    .updated {
      color: red;
    }
  }
}

@media only screen and (min-width: 768px) {
  .blogWrapper {

    .userColumn, .blogColumn {
      height: calc(75vh - 50px); // - fixed top bar height
      min-height: 400px;
    }
  }
}